# Módulos de Node
node_modules/

# Compilación y salida
dist/
tmp/
out-tsc/
bazel-out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caché del sistema y de IDEs
.idea/
.vscode/
.DS_Store
Thumbs.db

# Variables de entorno y pruebas
.env
/coverage
/.angular/